<!-- Modal Structure -->
<div id="report-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Report an Issue</h4>
    <%= render "form" %>
  </div>
  <div class="modal-footer">
    <a href="#!" data-no-turbolink="true" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>
