<div class="row">
  <div class="col s3 sidebar">
    <h5>All User Reports</h5>
    <% @reports.each do |report| %>
      <b>Report #<%= report.id %></b> <br>
      <%= link_to report.title, report_path(report) %> <br>
      Status: <%= report.status %> <br><br>
    <% end %>
  </div>
  <div class="col s9">
    <div class="fixed-action-btn" style="top: 70px; right: 24px;">
      <a class="modal-trigger waves-effect waves-light red btn"
         href="#report-modal">Report an Issue</a>
    </div>
    <%= render "map" %>
  </div>
</div>
