<nav>
  <div class="nav-wrapper blue-grey lighten-3">
    <a href="/reports" class="brand-logo">Fix My City</a>
    <ul class="right hide-on-med-and-down">
      <li> <a href="/reports"> All User Reports</a> </li>
      <li> <a href="/confirmed_issues"> Confirmed Issues</a> </li>
    </ul>
  </div>
</nav>
