<nav>
  <div class="nav-wrapper blue-grey lighten-1">
    <a href="/reports" class="brand-logo">Fix My City</a>
    <ul class="right hide-on-med-and-down">
      <li> <%= link_to "All User Reports", reports_path, :"data-no-turbolink" => true %> </li>
      <li> <%= link_to "Confirmed Issues", confirmed_issues_path, :"data-no-turbolink" => true %> </li>
    </ul>
  </div>
</nav>

<!-- Modal Structure -->
<div id="report-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Report an Issue</h4>
    <%= render "reports/form" %>
  </div>
  <div class="modal-footer">
    <a href="#!" data-no-turbolink="true" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>
